/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import 'primeicons/primeicons.css';

@import './assets/css/colors.css';
@import './assets/css/layout.css';
@import './assets/css/typography.css';

@theme {
  --color-primary: #059669;
  --color-lime: #d7e506;
  --color-light-yellow: #fdffde;
  --color-green-light: #10b981;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Lato, sans-serif;
  color: var(--text-color);
  font-size: 16px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:focus {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color);
}

a:active {
  color: var(--primary-color);
}

.main-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.responsive-horizontal-padding {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media screen and (min-width: 768px) {
  .responsive-horizontal-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .responsive-horizontal-padding {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .responsive-horizontal-padding {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/* Global styles */
.p-component {
  font-family: var(--font-family);
}