<footer
  class="main-footer border-t border-neutral-200 bg-neutral-100 py-4 text-sm text-neutral-600 dark:border-neutral-900 dark:bg-neutral-800/50 dark:text-neutral-400"
>
  <div class="footer-container flex justify-between gap-8">
    <div>&copy; 2026 OptiCV. Made for job seekers who deserve better odds.</div>
    <div class="flex gap-3">
      <a
        href="https://www.facebook.com/profile.php?id=61591526651342"
        target="_blank"
      >
        <i class="pi pi-facebook"></i>
      </a>
      <a href="https://www.instagram.com/opticv_app/" target="_blank">
        <i class="pi pi-instagram"></i>
      </a>
    </div>
  </div>
</footer>
